<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Covid-19 Form</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../styles.e26ad0c10c2e442b47f3.css">
</head>

<body>
	<app-root></app-root>
	<script src ="../runtime.e227d1a0e31cbccbf8ec.js"></script>
	<script src ="../polyfills.a4021de53358bb0fec14.js"></script>
	<script src ="../main.ced63a43a0f373b1ffed.js"></script>
	
</body>
</html>
